.counter {
    font-size: 400%;
    font-Weight: 800;
    padding: 20px;
    margin-Bottom: 10px;

}
.red{
    color: red;
    font-size: 400%;
    font-Weight: 800;
    padding: 20px;
    margin-Bottom: 10px;
}
